{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="section">
        <h1 class="is-size-1">Upload Image</h1>
        <hr><br>
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          <div class="field">
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="image_file">
                  <span class="file-cta">
                    <span class="file-label">Choose a file...</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="image_type" value='public' checked>
                Public
              </label>
              <label class="radio">
                <input type="radio" name="image_type" value='private'>
                Private
              </label>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <input type="submit" value="Submit" class="button is-primary" />
            </div>
          </div>
        </form>
        <br><br>
        {% if image_url %}
          <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
